<!DOCTYPE html>
<html>
<head>
  <title>Reloader</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "manufacturers", manufacturers_path %><br/>
  <%= link_to "calibers", calibers_path %><br/>
  Last retrieved at: <%= Time.now %>
  <hr/>
  <%= yield %>
  <hr/>
</body>
</html>
